
    <mat-toolbar>
        <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Menú de opciones">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Enterprise</span>
        <span class="example-spacer"></span>
    </mat-toolbar>

    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/letrasdecambio"><mat-icon>playlist_add_check</mat-icon> Listar </button>
        <button mat-menu-item routerLink="/letrasdecambio/nuevo"><mat-icon>fiber_manual_record</mat-icon> Registrar </button>
        <button mat-menu-item routerLink="/letrasdecambio/busqueda"><mat-icon>find_in_page</mat-icon> Busqueda </button>
    </mat-menu>

    <router-outlet></router-outlet>
